@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  html {
    overflow-y: scroll;
  }

  html,
  body {
    @apply m-0 p-0 max-w-full overflow-x-hidden;
  }

  body {
    @apply font-sans antialiased;
  }
}
